<div class="row">
    <div class="col-md-12">
        <h3>Orders</h3>
        <hr>
    </div>
</div>
<div class="panel panel-default" ng-if="var.mode=='order_list'">
    <div class="panel-heading">
        Order List
        <button type="button" class="btn btn-default btn-xs pull-right" ng-click="var.mode='order'">Add Order</button>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th style="width:10%">#</th>
                    <th>Invoice Number</th>
                    <th style="width:70%">Order Details</th>
                    <th style="width:10%">Order Date</th>
                    <th style="width:10%">Action</th>
                </thead>
                <tbody>
                    <tr ng-repeat="or in var.orders">
                        <td>{{$index+1}}</td>
                        <td>{{or.invoice_number}}</td>
                        <td>{{or.customer_name+' - '+or.order_number}}</td>
                        <td>{{or.invoice_date}}</td>
                        <td>
                            <a class="btn btn-default btn-xs" title="Print" href="print-invoice.php?id={{or.invoice_id}}" target="_blank">
                                <i class="fa fa-print"></i>
                            </a>
                            <button class="btn btn-default btn-xs" title="Edit" ng-click="fn.order_list.editOrder($index)">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-default btn-xs" title="Archive" ng-click="fn.order_list.deleteInvoice($index)">
                                <i class="fa fa-archive"></i>
                            </button>
                        </td>
                    </tr>
                    <tr ng-if="var.orders.length<=0">
                        <td style="text-align:center;" colspan="100%">No invoices added</td>
                    </tr>
                    <tr ng-if="var.orders==undefined">
                        <td style="text-align:center;" colspan="100%">Loading..</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-default" ng-if="var.mode=='order'">
    <div class="panel-heading">
        Add New Invoice
        <button type="button" class="btn btn-default btn-xs pull-right" ng-click="fn.order.cancelAddOrder()">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="panel-body">
        <form id="order-form" onsubmit="return false;" ng-submit="fn.order.addInvoice()">
            <div class="row" ng-if="var.order.orderIndex>=0">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Save as New?</label>
                        <select class="form-control" ng-model="var.order.as_new" name="as_new">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Invoice Number</label>
                        <input type="text" class="form-control" name="invoice_num" ng-model="var.order.invoice_number">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Invoice Date</label>
                        <input type="text" class="form-control datepicker" name="invoice_date" ng-model="var.order.invoice_date" readonly required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Nature of work</label>
                        <input type="text" class="form-control" name="nature_of_work" ng-model="var.order.nature_of_work" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Customer Name</label>
                <input type="text" class="form-control" name="cust_name" ng-model="var.order.customer_name" required>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" name="cust_addr" ng-model="var.order.customer_address" style="height:110px;" required></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group"><label for="">State</label>
                        <input type="text" class="form-control" ng-model="var.order.customer_state" required>
                    </div>
                    <div class="form-group">
                        <label for="">State Code</label>
                        <input type="text" class="form-control" ng-model="var.order.state_code" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>GSTIN</label>
                        <input type="text" class="form-control" ng-model="var.order.gstin">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Order Number</label>
                        <input type="text" class="form-control" name="order_num" ng-model="var.order.order_number">
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Order Date</label>
                        <input type="text" class="form-control datepicker" name="order_date" ng-model="var.order.order_date" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Other Reference</label>
                        <input type="text" class="form-control" name="order_ref" ng-model="var.order.order_ref">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">GST type</label>
                        <select class="form-control" ng-model="var.order.gst_type" >
                            <option value="0" selected>Default</option>
                            <option>HSN</option>
                            <option>SAC</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label><input type="checkbox" ng-model="var.order.hasBrief"> Include brief</label>
                    <div class="clearfix"></div>
                    <textarea class="form-control" ng-model="var.order.invoice_brief" ng-show="var.order.hasBrief"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <label>CGST(%)</label>
                    <input type="text" class="form-control" ng-model="var.order.cgst">
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <label>SGST(%)</label>
                    <input type="text" class="form-control" ng-model="var.order.sgst">
                </div>
            </div>
            <button type="button" class="btn btn-default btn-sm pull-right add-new-item" style="margin:10px 0;">Add item</button>
            <div class="clearfix"></div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th style="width:10%">#</th>
                        <th style="width:40%">Particulars</th>
                        <th style="width:10%">HSN/SAC</th>
                        <th style="width:10%">Quantity</th>
                        <th style="width:10%">Rate</th>
                        <th style="width:10%">Total</th>
                        <th style="width:10%">Action</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="it in var.order.items">
                            <td>{{$index+1}}</td>
                            <td>{{it.name}}</td>
                            <td>{{it.hsn}}</td>
                            <td>{{it.quantity}}</td>
                            <td>{{it.rate}}</td>
                            <td>{{fn.order.rowTotal(it.quantity,it.rate)}}</td>
                            <td>
                                <button type="button" class="btn btn-default btn-xs" title="Edit" ng-click="fn.order.editItem($index)">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" title="Remove" ng-click="fn.order.removeItem($index)">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                        <tr ng-if="var.order.items.length<=0">
                            <td colspan="6" style="text-align:center;">No items added</td>
                        </tr>
                        <tr style="font-weight:bold;" ng-if="var.order.items.length>0">
                            <td></td>
                            <td colspan="4" style="text-align:right;">CGST ({{var.order.cgst}}%)</td>
                            <td>{{fn.order.getTax(var.order.cgst)}}</td>
                        </tr>
                        <tr style="font-weight:bold;" ng-if="var.order.items.length>0">
                            <td></td>
                            <td colspan="4" style="text-align:right;">SGST ({{var.order.sgst}}%)</td>
                            <td>{{fn.order.getTax(var.order.sgst)}}</td>
                        </tr>
                        <tr style="font-weight:bold;" ng-if="var.order.items.length>0">
                            <td></td>
                            <td colspan="4" style="text-align:right;">Total</td>
                            <td>{{fn.order.allTotalInc()}}</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-primary btn-sm col-xs-12" >Save Invoice</button>
        </form>
    </div>
</div>



<div class="modal fade" id="add-item-modal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Item</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Item name</label>
                    <textarea class="form-control" ng-model="var.order.item.name"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>HSN/SAC</label>
                            <input type="text" class="form-control" ng-model="var.order.item.hsn">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="text" class="form-control" ng-model="var.order.item.quantity">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Rate</label>
                            <input type="text" class="form-control" ng-model="var.order.item.rate">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="fn.order.addItem()">Save changes</button>
            </div>
        </div>
    </div>
</div>
