<div class="row">
    <div class="col-md-12">
        <h3>Change Password</h3>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add New Password
            </div>
            <div class="panel-body">
                <form onsubmit="return false;" ng-submit="fn.changePassword()">
                    <div class="form-group">
                        <label for="">Old Password</label>
                        <input type="password" name="opwd" class="form-control" ng-model="var.form.opwd" required>
                    </div>
                    <div class="form-group">
                        <label for="">New Password</label>
                        <input type="password" name="pwd" class="form-control" ng-model="var.form.pwd" pattern=".{6,}" onchange="if(this.checkValidity()){form.cpwd.pattern=this.value}" required>
                    </div>
                    <div class="form-group">
                        <label for="">Confirm New Password</label>
                        <input type="password" name="cpwd" class="form-control" ng-model="var.form.cpwd" pattern=".{6,}" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Change Password</button>
                </form>

            </div>
        </div>
    </div>
</div>